.MenuIcon {
    background-color: black;
    margin-top: 21px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    padding-left:  7px;
    padding-right: 1px;
    padding-bottom: 0px;
    cursor: pointer;
    display: none;
  }
  
  
.MenuIconBar {
    background-color: white;
    margin-top: 6px;
    width: 35px;
    height: 5px;
  }


@media(max-width : 600px) {
    .MenuIcon {
        display: block;
    }
  
    .MenuIcon:hover {
        background-color: grey;
    }
}